<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup request to Varuna has been sent</title>
</head>
<body>
    <h1>Signup request to Varuna has been sent</h1>
    <p>Hi {{ user.first_name|title }} {{ user.last_name|title }},</p>
    <p>Your signup request has been sent to Varuna.</p>
    <p>Please be patient till we will review your request and let you know.</p>
    <p>Thank you</p>
    <p>Varuna Team</p>
</body>
</html>
